@inherits LayoutComponentBase

<PageTitle>PomadoroTimer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          <a href="https://github.com/s1lv3r-f0x" target="_blank">git repos</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
